* {
    margin: 0;
    padding: 0;
}
body {
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
}
/* Full screen wallowa lake */
#pic1 {
    width: 100%;
    height: auto;
    padding-top: 0rem;
    /* opacity: 0.8; */
    position: fixed;
    z-index: -1;
}

/* table */
#header {
    margin: auto;
    width: 100%;
    z-index: 1;
    background-color: white;
    


}
/* forest left */
#forest1 {
    padding-top: 0.1rem;
    margin-right: 20rem;
    padding-bottom: 1rem;

}
/* text 'welcome to wallowa lake' */
#welcome {
    font-family: 'Architects Daughter';
    font-size: 2.5rem;
    text-align: center;
    background-color: white;
    
}
/* forest right */
#forest2 {
    padding-top: 0.1rem;
    margin-left: 20rem;
    padding-bottom: 1rem;
}
/* text 'history of wallowa lake' */
#history {
    margin-top: 30rem;
    background-color: blue;
    color: white;
    font-size: 2rem;
    font-family: 'Architects Daughter';
    text-align: center;
    opacity: 0.4;
}
/* text history */
#history1 {
    margin-top: 10rem;
    background-color: blue;
    color: white;
    font-size: 2rem;
    font-family: 'Architects Daughter';
    text-align: center;
    margin-top: 4rem;
    opacity: 0.4;
    margin-left: 40px;
    margin-right: 40px;
}
/* div photos */
#photos {
    background-color: white;

}
/* text 'photos of wallowa lake' */
#photos1 {
    margin-top: 5rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    font-family: 'Architects Daughter';
    text-align: center;
    
    
}
/* table for photos  */
#tablePhotos {
    margin: auto;
    width: 40rem;
    background-color: white;
    z-index: 1;
    width: 100%;
}
/* table photo 1 */
#tf1 {
    width: 15rem;
    height: auto;
}
/* table photo 2 */
#tf2 {
    width: 15rem;
    height: auto;
}
/* table photo 3 */
#tf3 {
    width: 14rem;
    height: auto;
}
#tf4 {
    width: 15rem;
    height: auto;
}
#tf5 {
    width: 23rem;
    height: auto;
}
#tf6 {
    width: 19rem;
    height: auto;
}
/* text under things to do photos */
#labels {
    font-family: 'Architects Daughter';
    font-size: 1.5rem;
    text-align: center;
}